<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Hello <%= first_name %>,</h1>
    <p>Your wallet is recharge with <strong><%= otp %>USD</strong> </p>
    <p>Enjoy our services!</p>
    <p>Best Regards,<br>MTA Solutions team</p>
</body>
</html>