<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Hello <%= first_name %>,</h1>
    <p>Your one time password is <strong><%= otp %></strong></p>
    <p>Enjoy our services!</p>
    <p>Best Regards,<br>MTA Solutions team</p>
</body>
</html>